<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    姓名：<span th:text="${user.name}"/><br/>
    年龄：<span th:text="${user.age}"/><br/>
    密码：<span th:text="${user.password}"/><br/>
    性别：<span th:text="${user.sex}"/><br/>
    地址：<span th:text="${user.address}"/><br/>
    邮箱：<span th:text="${user.email}"/><br/>
    qq：<span th:text="${user.qq}"/><br/>
    微信：<span th:text="${user.wechat}"/><br/>
    生日：<span th:text="${user.birthday}"/><br/>
    手机：<span th:text="${user.telephone}"/><br/>
    账号：<span th:text="${user.account}"/><br/>    

</body>
</html>