<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form action="userregistration" method="post">
        姓名：<input name="name"/><br/>
        年龄：<input name="age"/><br/>
        密码：<input name="password"/><br/>
        性别：男<input name="sex" type="radio" checked="true" value="M"/>女<input name="sex" type="radio" value="W"/><br/>
        地址：<input name="address"/><br/>
        邮箱：<input name="email"/><br/>
        qq：<input name="qq"/><br/>
        微信：<input name="wechat"/><br/>
        生日：<input name="birthday"/><br/>
        手机：<input name="telephone"/><br/>
        账号：<input name="account"/><br/>
        <input type="submit" value="提交" />
    </form>
</body>
</html>