<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form action="mechantregistration" method="post">
        商家姓名：<input name="mechantName"/><br/>
        商店名称：<input name="mechantShopName"/><br/>
        密码：<input name="mechantPassword"/><br/>
        范围：<input name="mechantScope"/><br/>
        账号：<input name="mechantAccount"/><br/>
        <input type="submit" value="提交" />
    </form>
</body>
</html>