<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form action="mechantupdate" method="post">
        <input type="hidden" name="id" th:value="${mechant.id}"/>
        商家姓名：<span name="mechantName" th:text="${mechant.mechantName}"/><br/>
        商店名称：<input name="mechantShopName" th:value="${mechant.mechantShopName}"/><br/>
        密码：<input name="mechantPassword" th:value="${mechant.mechantPassword}"/><br/>
        范围：<input name="mechantScope" th:value="${mechant.mechantScope}"/><br/>
        账号：<span name="mechantAccount" th:text="${mechant.mechantAccount}"/><br/>
        <input type="submit" value="提交" />
    </form>
</body>
</html>