<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <form action="updateorderbyuser" method="post">
        <input type="hidden" th:value="${order.id}" name="id" />
        支付金额：<span th:text="${order.payAmount}"/><br/>
        用户编码：<span th:text="${order.userId}"/><br/>
        收货人地址：<input name="consigneeAddress" th:value="${order.consigneeAddress}"/><br/>
        收货人电话：<input name="consigneePhone" th:value="${order.consigneePhone}"/><br/>
        收货人姓名：<input name="consigneeName" th:value="${order.consigneeName}"/><br/>
        <input type="submit" value="提交"/>
    </form>

</body>
</html>