<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form action="addproduct" method="post">
        商品类型：<input name="productTypeId"/><br/>
        商品标题：<input name="productTitle"/><br/>
        商品价格：<input name="productPrice"/><br/>
        商家id：<input name="mechartId"/><br/>
        库存：<input name="stockNum"/><br/>
        商品图片地址：<input name="productPicUrl"/><br/>
        <input type="submit" value="提交"/>
    </form>
</body>
</html>